/*Style CSS for bootstrap portfolio*/
/* main body styling*/
html, body{
    height:100%;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    background: url("../images/pink-dust.png");
    color: darkslategray;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;

}
.connectMe{
    max-width: 300px;
}
.container{
    padding-bottom: 15px;
}
.mainContent{
    margin-bottom: 60px;
}
/* navbar and footer styling*/
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #f5f5f5;
    }
.navbar{
    background-color: #f5f5f5;
}
#footerText{
    font-size: 18px;
    padding-top:15px;
}

/* panel styling*/
.panel-body{
    background-image: url("../images/asfalt-dark.png");
}
.panel-heading{
    background-color: #f5f5f5;
}
.panelHead{
    color: darkslategray;
}
/* picture styling*/
#myPic{
    float: left;
    max-width: 300px;
    max-height: 300px;
    padding: 0px 10px 10px 0px;
}
.linkIcon{
    max-width: 60px;
    max-height: 60px;
    float:left;
    border: 0px solid black;
}
.thumbnail{
    border: 0px solid 
}
.carousel-caption{
    font-size: 23px;
    color: #f5f5f5;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.portPic{
    filter: greyscale(20%);
    filter: blur(0.5px);
    opacity: 80%;
    max-width: 220px;
    max-height: 175px;
}
#crystalPic{
    padding: 20px 0px 28px 0px;
}





