/*Style CSS for bootstrap portfolio*/

html, body{
    height:100%;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    background: url("../images/intersection.png")
}
.connectMe{
    max-width: 300px;
}
.container{
    color: #222;
    padding-bottom: 15px;
    
}
.mainContent{
    margin-bottom: 60px;
}
#myPic{
    float: left;
    max-width: 300px;
    max-height: 300px;
    padding: 0px 10px 10px 0px;
}
/* .thumbnail{
    max-width: 200px;
    max-height: 175px;
} */

.linkIcon{
    max-width: 60px;
    max-height: 60px;
    float:left;
    border: 0px solid black;
}
.thumbnail{
    border: 0px solid 
}
.carousel-caption{
    font-size: 20px;
    color: #00d0ff;
    /* background-color: darkslategray; */
}

/*footer css*/
#footer{
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
height: 60px;
background-color: #f5f5f5;
}

#dogPic{
    width: 220px;
    height: 175px;
}

.portPic{
    filter: greyscale(20%);
    filter: blur(1px);
    opacity: 30%;

}
.portPic:hover {
    opacity: 90%;
}

